.movimentacao{
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 900px;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}