.login{
    display: flex;
    
}
.login-box{
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 20vw;
    padding: 20px;
    border-radius: 10%;
    margin-right: 10px;
}

.form-field{
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 10vw;
    height: 3vw;
    border-radius: 10px;
    margin: 5px;

}

.input{
    padding: 10px;
}
.submit-login-button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 1px solid #babfc3;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #202223;
    background: #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
    margin: 5px;

}

.submit-login-button:hover {
    background: #f6f6f7; 
    outline: 1px solid transparent;
}
.light{
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 230px;
    padding: 10px;
    border-radius: 30px;
    height: fit-content;
   

    
}
.dark{
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 230px;
    padding: 10px;
    border-radius: 30px;
    height: fit-content;
   
    filter:blur(10px);

}

.deposito{
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 20vw;
    padding: 20px;
    border-radius: 10%;
    margin-right: 10px;
}
.saque{
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 20vw;
    padding: 20px;
    border-radius: 10%;
    margin-right: 10px;
}
.extrato{
    border: 2px;
    border-style: solid;
    border-color: black;
    text-align: center;
    width: 1020px;
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    

}
